@page "/leiloesUsers"

@using JBleiloes.data.Utilizadores
@using JBleiloes.data.Leiloes
@using JBleiloes.data
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Leilões de Users</PageTitle>

<h1>Leilões de Users</h1>

<div class="leilao-container">
    @if (leiloesUsers == null)
    {
        <h3>Loading . . . </h3>
    }
    else
    {
        <div class="order-word" @onclick="OrderClicked">
            <img src="/ordenar.png" alt="Ord Image" width="25" height="25" />
            <span style="color: black;">Ordenar por: </span>
            <select name="number" @bind="ordem">
                <option value="rel">Relevância</option>
                <option value="cresc">Preço mais baixo</option>
                <option value="decr">Preço mais alto</option>
                <option value="inic">Mais recente</option>
                <option value="fim">Mais antigo</option>
            </select>
        </div>

        <div class="leiloes-users">
            @foreach (Leilao leilao in leiloesUsers)
            {
                <div class="rectangle">
                    <Leilaocard Leilao="leilao" />
                </div>
            }
        </div>
    }
</div>

<style>
    .leiloes-users {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px;
        margin-right: 30px;
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .rectangle {
        width: 354px;
        height: 400px;
        padding: 10px;
        position: relative;
    }

    .redirect-link {
        cursor: pointer;
    }

    .link-text {
        font-size: 40px;
        color: gray;
        text-decoration: none;
    }
</style>


@code {
    public string ordem { get; private set; }
    private static JBLeiloes jb = new JBLeiloes();
    private static ICollection<Leilao> leiloes = new JBLeiloes().getLeilõesDecorrer();

    private ICollection<Leilao> leiloesUsers;

    protected override void OnInitialized()
    {
        leiloesUsers = leiloes.Where(l => jb.getUserTypeLeilao(l.vendedor) == 1).ToList();
        leiloes = leiloesUsers;
    }

    private void OrderClicked()
    {
        leiloes ??= new List<Leilao>();

        if (ordem == "cresc")
        {
            leiloesUsers = leiloesUsers.OrderBy(l => l.valor_atual == 0 ? l.valor_inicial : l.valor_atual).ToList();
        }
        else if (ordem == "decr")
        {
            leiloesUsers = leiloesUsers.OrderByDescending(l => l.valor_atual == 0 ? l.valor_inicial : l.valor_atual).ToList();
        }
        else if (ordem == "fim")
        {
            leiloesUsers = leiloesUsers.OrderBy(l => Math.Abs((l.tempo_de_leilao - DateTime.Now).TotalSeconds)).ToList();
        }
        else if (ordem == "inic")
        {
            leiloesUsers = leiloesUsers.OrderByDescending(l => Math.Abs((l.tempo_de_leilao - DateTime.Now).TotalSeconds)).ToList();
        }
        else
        {
            leiloesUsers = leiloes;
        }
    }
}
