@page "/leiloesStand"

@using JBleiloes.data.Utilizadores
@using JBleiloes.data.Leiloes
@using JBleiloes.data
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Leilões do Stand</PageTitle>

<h1>Leilões do Stand José Bonifácio</h1>

<div class="leilao-container">
    @if (leiloes == null)
    {
        <h3>Loading . . . </h3>
    }
    else
    {
        @foreach (Leilao leilao in leiloesAdmins)
        {
            <div class="rectangle">
                <Leilaocard Leilao="leilao" />
            </div>
        }
    }
</div>

<style>
    .leilao-container {
        display: flex;
        gap: 5px; /* Add gap between cards */
        padding: 10px;
        align-items: flex-start; /* Allow cards to expand above container limits */
        margin-right: 30px; /* Add right margin */
        margin-left: 30px; /* Add right margin */
    }

    .rectangle {
        width: 354px;
        height: 400px;
        padding: 10px; /* Add some padding for better spacing */
        position: relative; /* Add relative positioning for pseudo-element */
    }

    .redirect-link {
        cursor: pointer;
    }

    .link-text {
        font-size: 40px; /* Adjust as needed */
        color: gray;
        text-decoration: none;
    }

</style>

@code {
    private static JBLeiloes jb = new JBLeiloes();
    private static ICollection<Leilao> leiloes = new JBLeiloes().getLeilõesDecorrer();

    private ICollection<Leilao> leiloesUsers = leiloes.Where(l => jb.getUserTypeLeilao(l.vendedor) == 1).ToList();

    private ICollection<Leilao> leiloesAdmins = leiloes.Where(l => jb.getUserTypeLeilao(l.vendedor) == 2).ToList();
}
