@page "/"
@inject NavigationManager NavigationManager
@using JBleiloes.Components.Layout
@using JBleiloes.data
@using JBleiloes.data.Utilizadores
@layout LoginLayout
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div align="center">
    <div class="form-group row">
        <div class="one">
            <div class="col-sm-1">
                <InputText placeholder="Inserir Username" @bind-Value="username" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="one">
            <div class="col-sm-1">
                <InputText placeholder="Inserir Password" @bind-Value="password" />
            </div>
        </div>
    </div>

    <div>
        <button class="list-group-item-danger" onclick=@handleLogin> Login </button>
        <button class="mx-md-auto" onclick="@registerUser"> Register </button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";

    private void handleLogin()
    {
        JBLeiloes jb = new JBLeiloes();
        if(jb.validarLogin(username, password))
        {
            //jb.validarLogin(username, password);
            Utilizador u = jb.getUtilizador(username);
            SessionUser.setSessionUser(u);
            NavigationManager.NavigateTo("/lotes");
        }
    }

    private void registerUser()
    {
        NavigationManager.NavigateTo("/register");
    }
}