@page "/lotes"

@using JBleiloes.data.Leiloes
@using JBleiloes.data
@using JBleiloes.DB.Tabelas
@rendermode InteractiveServer

<PageTitle>Leilões a decorrer</PageTitle>

<h1>Leilões</h1>

<div class="leilao-container">
    @if (leiloes == null)
    {
        <h3>Loading . . . </h3>
    }
    else
    {
        @foreach (Leilao leilao in leiloes)
        {
            <div class="rectangle">
                <Leilaocard Leilao="@leilao" />
            </div>
        }
    }
</div>

<style>

    .line {
        border-block: 1px solid #2b2b27cf;
        margin: 20px;
    }

    .leilao-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        margin-top: 20px;
    }

    .rectangle {
        width: 500;
        height: 500;
    }
</style>

@code {
    private List<Leilao> leiloes2 = DBLeilao.getInstance().GetLeiloesDecorrer();
    private IEnumerable<Leilao> leiloes = DBLeilao.getInstance().GetLeiloes();
}
