@page "/meuslotes"

@using JBleiloes.data.Utilizadores
@using JBleiloes.data.Leiloes
@using JBleiloes.data
@inject NavigationManager NavigationManager

<PageTitle>Leilões @SessionUser.getSessionUser().getUsername()</PageTitle>

<h1>@SessionUser.getSessionUser().getUsername()</h1>
<h6>@SessionUser.getSessionUser().nome</h6>

<div class="redirect-link" @onclick="registarLeilao">
    <p class="link-text">Criar Leilão</p>
</div>

<h2>Leilões ativos </h2>
<div class="leilao-container">
    @if (leiloes == null)
    {
        <h3>Loading . . . </h3>
    }
    else
    {
        @foreach (Leilao leilao in leiloes)
        {
            <div class="rectangle">
                <Leilaocard Leilao="leilao" />
            </div>
        }
    }
</div>

<style>
    .leilao-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        margin-top: 20px;
    }

    .rectangle {
        width: 500;
        height: 500;
    }

    .redirect-link {
        cursor: pointer;
    }

    .link-text {
        font-size: 40px; /* Adjust as needed */
        color: gray;
        text-decoration: none;
    }

</style>

@code {
    private IEnumerable<Leilao> leiloes;

    // Instantiate LeilaoRepository
    private LeilaoRepository leilaoRepository = new LeilaoRepository();

    // Call the GetLeiloes method during the component initialization
    protected override void OnInitialized()
    {
        leiloes = leilaoRepository.getLeiloesUtilizador(@SessionUser.getSessionUser().getUsername());
    }

    private void registarLeilao()
    {
        NavigationManager.NavigateTo("/registarLeilao");
    }
}
