@page "/transacoes"

@using JBleiloes.data.Utilizadores
@using JBleiloes.data.Leiloes
@using JBleiloes.data
@using JBleiloes.DB.Tabelas
@using JBleiloes.Components.Leiloes
@rendermode InteractiveServer


<PageTitle>Transações</PageTitle>

@if(leiloesPorPagar != null)
{
    <h2>Pagamento pendente</h2>
    @foreach (Leilao leilao in leiloesPorPagar)
    {
        <div class="rectangle">
            <TransaçãoCard Leilao="leilao" />
        </div>
    }   
}

@if (leiloesHistoricoVendas != null)
{
    <h2>Historico de vendas </h2>
    <div class="leilao-container">

        @foreach (Leilao leilao in leiloesHistoricoVendas)
        {
            <div class="rectangle">
                <TransaçãoCard Leilao="leilao" />
            </div>
        }
      
    </div>
}

@if (leiloesHistoricoCompras != null)
{
    <h2>Historico de compras </h2>
    <div class="leilao-container">

        @foreach (Leilao leilao in leiloesHistoricoCompras)
        {
            <div class="rectangle">
                <TransaçãoCard Leilao="leilao"/>
            </div>
        }
 
    </div>
}

<style>
    .leilao-container {
        display: flex;
        gap: 5px; /* Add gap between cards */
        padding: 10px;
        align-items: flex-start; /* Allow cards to expand above container limits */
        margin-right: 30px; /* Add right margin */
        margin-left: 30px; /* Add right margin */
    }

    .rectangle {
        width: 354px;
        height: 400px;
        padding: 10px; /* Add some padding for better spacing */
        position: relative; /* Add relative positioning for pseudo-element */
    }

    .redirect-link {
        cursor: pointer;
    }

    .link-text {
        font-size: 40px; /* Adjust as needed */
        color: gray;
        text-decoration: none;
    }

</style>




@code {

    private IEnumerable<Leilao> leiloesHistoricoCompras = null;
    private Leilao[] leiloesHistoricoVendas = null;
    private IEnumerable<Leilao> leiloesPorPagar = null;

    private JBLeiloes jb = new JBLeiloes();

    private Utilizador? utilizador = SessionUser.getSessionUser();

    protected override void OnInitialized()
    {
        leiloesHistoricoCompras = jb.GetHistoricoCompras(utilizador.username, jb);
        leiloesHistoricoVendas = jb.GetHistoricoVendas(utilizador.username, jb);
        leiloesPorPagar = jb.getLeiloesPorPagarFromUser(utilizador.username);
    }
}